<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>후기 목록</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
      function renderData(response) {
        for (let i = 0; i < response.length; i++) {
          const res = response[i];
          const id = res.id;
          const name = res.name;
          const date = res.date;
          const type = res.type;
          const score = res.score;
          const review = res.review;
          let status;
          let buttonName;

          $("#data-table").append(`
                          <tr>
                              <th>${id}</th>
                              <th>${name}</th>
                              <td>${date}</td>
                              <td>${type}</td>
                              <td>${score}</td>
                              <td>${review}</td>
                              <td><button onClick="updateReview(${id})">수정하기</button></td>
                          </tr>
                  `);
        }
      }

      function updateReview(id) {
        const data = {
          id: id,
        };

        $.ajax({
          type: "PUT",
          url: "/contents",
          contentType: "application/json",
          data: JSON.stringify(data),
          success: function (response) {
            location.reload();
          },
        });
      }

      $(document).ready(function () {
        $.ajax({
          type: "GET",
          url: "/contents",
          success: function (response) {
            renderData(response);
          },
        });

        $.ajax({
          type: "GET",
          url: "/review/stat",
          success: function (response) {
            const total = 0;
            for (const type in response) {
              const cnt = response[type][0];
              const avg = response[type][1];

              $("#contents-div").html(
                ` ${reponse[type]} : ${cnt}개, 평균 : ${avg}점`
              );
              total += cnt;
            }
            $("#total-div").html(`등록된 리뷰 : <b>${total}</b>`);
          },
        });
      });
    </script>
  </head>

  <body class="pt-5">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <!-- navbar-brand의 content 변경 -->
      <a class="navbar-brand" href="#">문화 컨텐츠 별점</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/list"
              >목록 <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/save">등록</a>
          </li>
        </ul>
      </div>
    </nav>

    <div id="avg_score"></div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">이름</th>
          <th scope="col">관람 일자</th>
          <th scope="col">유형</th>
          <th scope="col">평점</th>
          <th scope="col">후기</th>
        </tr>
      </thead>
      <tbody id="data-table"></tbody>
    </table>

    <div id="total-div"></div>
    <br />
    <li id="contents-div"></li>
  </body>
</html>
